@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .container img {
    width: 600px;
  }
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content h1 {
    font-size: 3rem;
    justify-content: center;
    text-align: center;
  }
  .content p {
    font-size: 1.25rem;
  }
}

@media (max-width: 1132px) {
  .container img {
    width: 50%;
  }
}

@media (min-width: 688px) {
  .container img {
    width: 50%;
  }
  .content h1 {
    font-size: 3.5rem;
  }
  #logo-text {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
