body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo-text {
  font-family: "Inconsolata";
  position: absolute;
  width: 133vw;
  height: 25px;
  left: 77px;
  top: 40px;
  font-style: normal;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
}

/*.logo-text {
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text h2 {
  width: 586px;
  height: 190px;
  top: 265px;
  left: 735px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
}

.main-text p {
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.btn {
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
  background: #333333;
}

.btn a {
  width: 130px;
  height: 21px;
  left: 783px;
  top: 687px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}

footer {
  position: absolute;
  margin: 0 auto;
  width: 226px;
  height: 17px;
  left: 607px;
  top: 1024px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;

  text-align: center;
  margin-bottom: 2%;
}
