body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}

/*.logo-text {
  font-family: "Inconsolata";
  position: absolute;
  width: 133vw;
  height: 25px;
  left: 77px;
  top: 40px;
  font-style: normal;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scarecrow {
  padding-top: 220px;
}

.main-text {
  align-items: center;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 2%;
}*/
