* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}

.logo-text {
  /*font-family: "Inconsolata";
  font-size: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;

  margin-top: 40px;
  margin-left: 77px;*/

  font-family: "Inconsolata";
  position: absolute;
  width: 133vw;
  height: 25px;
  left: 77px;
  top: 40px;
  font-style: normal;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  width: 586px;
  height: 190px;
  left: 735px;
  top: 265px;
}

footer {
  width: 226px;
  height: 17px;
  left: 607px;
  top: 1024px;
  position: absolute;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
